# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules

dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
design/desktop-design-slide-1.jpg
design/desktop-design-slide-2.jpg
design/desktop-preview.jpg
design/mobile-design-slide-1.jpg
design/mobile-design-slide-2.jpg
dist/assets/index-AvfdoyCa.js
dist/assets/index-AvfdoyCa.js
