@tailwind components;
@tailwind base;
@tailwind utilities;

@layer utilities {
  .icons-container {
    @apply bg-white absolute z-40 -bottom-4 left-2/4 -translate-x-2/4 flex gap-6 py-3 px-4 rounded-full shadow-lg md:bottom-0 md:px-6 md:py-5 md:gap-10 lg:left-1/4 lg:-bottom-6;
  }
  .icon {
    @apply scale-90 md:scale-125;
  }
  .active {
    @apply mx-auto relative z-40 opacity-100;
  }
  .inactive {
    @apply left-1/2 -translate-x-1/2  absolute top-0 z-30 opacity-0;
  }
  .img {
    @apply w-72 shadow-xl rounded-md md:w-auto transition-[opacity] duration-300;
  }
  .feedback {
    @apply font-light max-w-[30ch] mx-auto text-lg text-dark_blue sm:max-w-[40ch] lg:mx-0 lg:max-w-[50ch] lg:text-[2rem] lg:leading-[2.75rem] transition-[opacity] duration-300;
  }

  .name-role-container {
    @apply lg:flex gap-4 lg:translate-y-8;
  }
  .name {
    @apply font-bold text-dark_blue  lg:text-xl;
  }
  .role {
    @apply font-medium text-grayish_blue  lg:text-xl;
  }
  .hidden-review {
    @apply absolute opacity-0;
  }
  .visible-review {
    @apply opacity-100;
  }
}

blockquote::before {
  content: open-quote;
}
blockquote::after {
  content: close-quote;
}
.text-container::before {
  content: url("../pattern-quotes.svg");
  position: absolute;
  top: -4rem;
  left: 50%;
  transform: translateX(-50%) scale(0.5);
}

@media (min-width: 1024px) {
  .text-container::before {
    transform: scale(1) translateX(0%);
    left: 6rem;
    top: -2rem;
  }
}
